body {
  font-family: Arial, sans-serif;
}
#hide {
  display: none;
}
.intik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intik img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.black_bg {
  background-color: black;
}

.outik {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
